.home-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
    max-width: 1250px;
  }
  
  .home-header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .home-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .home-header nav ul li {
    margin-left: 20px;
  }
  
  .home-header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .auth-buttons {
    display: flex;
  }
  
  .auth-buttons .login-button,
  .auth-buttons .signup-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .hero-section {
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px; /* Add margin to separate from header */
  }
  
  .hero-section h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
  }
  
  .hero-section p {
    /* margin: 20px 0; */
    font-size: 18px;
  }
  
  .cta-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
  }
  
  .hero-carousel {
    width: 80%; /* Adjust width as needed */
    max-width: 800px; 
    margin: 20px auto;
  }
  
  .hero-carousel .slide img {
    width: 100%; /* Make sure images fit the container */
    height: auto; /* Maintain aspect ratio */
    max-height: 450px; /* Adjust height for a smaller image */
  }
  .logo{
    color: black;
  }